@charset "UTF-8";

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.pack {
  width: 940px;
  margin: 0 auto;
}

.container {
  background-color:#eff3f4 ;
  padding: 20px;
}

.contents:first-child {
  margin-left: 0px;
}

.contents {
  background-color:#3274ae ;
  margin-left: 20px;
  padding: 20px;
  float: left;
}

.textback {
  width: 210px;
  background-color: #eaf4ff;
  border: #022336 10px solid;
}

.text {
  margin: 20px;
  line-height: 16px;
}