@charset "UTF-8";

.clearfix:after {
display: block;
content: "";
clear: both;
}

.wrapper{
width: 940px;
margin: 0 auto;
}

.container{
height: 420px;
background-color:#eff3f4 ;
padding: 20px;
}

.contents{
background-color:#3274ae ;
margin-left: 20px;
padding: 20px;
float: left;
}

.textback{
width: 210px;
height: 330px;
background-color: #eaf4ff;
border: #022336 10px solid;
}

.text{
margin: 20px;
font-size: 14px;
line-height: 16px;
}