@charset "UTF-8";

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.text {
  font-size: 16px;
}

.notext {
  font-size: 0;
}

.float{
  width: 225px;
  float: left;
  margin-left: 50px;
  box-sizing: border-box;
}

.float:first-child {
  margin-left: 0px;
}

.table {
  display: table;
}

.tablecell {
  display: table-cell;
  width: 225px;
  vertical-align: middle;
  padding-left: 50px;
}

.tablecell:first-child {
  padding-left: 0px;
}

.inline {
  width: 225px;
  display: inline-block;
  margin-left: 50px;
  vertical-align: middle;
  box-sizing: border-box;
}

.inline:first-child {
  margin-left: 0;
}

.flexbox {
  display: flex;
  justify-content:space-around ;
  align-items: flex-end;
}

.flex {
  width: 225px;
  vertical-align: middle;
  box-sizing: border-box;
}

.ibm {
  display: inline-block;
}

.ibmleft {
  width: 300px;
  vertical-align: top;
}

.ibmright {
  padding-left: 350px;
  margin-left: -300px;
  box-sizing: border-box;
  width: 100%;
}