@charset "UTF-8";

.container {
  margin-top: 20px;
}

.table {
  margin: 0 auto;
  width: 100%;
  table-layout: fixed;
}

.thread {
  background-color: #2244aa;
  border: solid #dedede 1px;
  color: #ffffff;
}

.body {
  border: solid #dedede 1px;
  font-size: 16px;
  text-align: center;
  line-height: 22px;
}

.th {
  background-color: #2244aa;
  border: solid #dedede 1px;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.td {
  border: solid #dedede 1px;
  padding-top: 10px;
  padding-bottom: 10px;
}

tbody tr:nth-child(even) {
  background-color: #ecf1f2;
}

tbody tr:last-child {
  border-top: 2px dashed #000;
}